@using Glass.Mapper.Sc.Web.Mvc
@using Sitecore.Mvc
@using Sitecore.Mvc.Analytics.Extensions
@model CroweDemo.Web.Areas.Demo.Models.Base.IBasePage
@{
  Layout = null;
}
<!DOCTYPE html>
<!--[if IE 9]><html lang="en" class="ie9 no-js"><![endif]-->
<!--[if !IE]><!-->
<html lang="@Sitecore.Context.Language.CultureInfo.TwoLetterISOLanguageName">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>@Html.Glass().Editable(x => x.PageTitle)</title>
  @Html.Sitecore().VisitorIdentification()
</head>
  <body>
    <div>
      @Html.Sitecore().Placeholder("main")
    </div>
  </body>
</html>